# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
spdx-prod.env
pip-log.txt
pip-delete-this-directory.txt
venv

# Test and coverage
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.log

# VCS
.git
.github

# OS
.DS_Store

# editor
.vscode
