Django==2.2.14
jpype1==1.2.0
numpy==1.19.0
djangorestframework==3.11.0
bs4==0.0.1
requests==2.24
lxml==4.6.3
webdriver-manager==3.4.2
social-auth-core==4.1.0
social-auth-app-django==4.0.0
python-dotenv==0.14.0
gevent==20.6.2
gunicorn==20.0.4
#for testing
selenium==3.14.1
django-oauth-toolkit==1.3.2
django-rest-framework-social-oauth2==1.1.0
-e git://github.com/spdx/spdx-license-matcher.git@v2.1#egg=spdx-license-matcher
