Django>=1.11.18,<1.12
jpype1==0.6.3
numpy==1.16.4
djangorestframework==3.11.2
bs4==0.0.1
requests==2.22
lxml==4.6.3
social-auth-core >= 3.3.0, < 4.0.0
social-auth-app-django==3.4.0
python-dotenv==0.13.0
gevent==20.6.2
gunicorn==19.10.0
#for testing
selenium==3.14.1
django-oauth-toolkit==1.0.0
django-rest-framework-social-oauth2==1.1.0
-e git://github.com/spdx/spdx-license-matcher.git@v1.0#egg=spdx-license-matcher
