.treeContainer, .splitTreeEditorContainer{
    padding: 15px 10px;
    height: 550px;
    overflow: scroll;
    border: solid 1px rgb(211, 211, 211);
}
.treeContainer{
    min-width: 900px;
}
#treeView, #splitTreeView{
    margin-bottom: 40px;
}
ul.treeView .collapse, ul.treeView .expand, ul.splitTreeView .collapse, ul.splitTreeView .expand{
    cursor:pointer;
    margin:0 5px;
    height:14px;
    width:14px;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
ul.treeView .collapse, ul.splitTreeView .collapse{
    display:inline-block;
}
ul.treeView .expand, ul.splitTreeView .expand{
    display:none;
}
ul.treeView, ul.treeView ul, ul.splitTreeView, ul.splitTreeView ul{
    list-style-type: none;
    background: #fff url(/static/img/editor/vline.png) repeat-y;
    margin: 0 10px;
    padding: 0;
}
ul.treeView ul, ul.splitTreeView ul {
    margin-left: 10px;
}
ul.treeView li, ul.splitTreeView li {
    margin: 0;
    padding: 0 12px;
    line-height: 20px;
    background: url(/static/img/editor/node.png) no-repeat;
}
ul.treeView li.last, ul.splitTreeView li.last {
    background: #fff url(/static/img/editor/lastnode.png) no-repeat;
}
.nodeName{
    color:rgb(23, 170, 23);
    font-weight: bold;
}
.nodeText{
    cursor:pointer;
}
.nodeText:hover{
    color:rgb(162, 162, 162);
}
.emptyText{
    font-size:14px;
    color:grey;
    cursor: pointer;
}
.emptyText:hover{
    color: black;
}
.addChild{
    color:rgb(0, 195, 255);
    opacity: 0.5;
    cursor: pointer;
    font-size: 14px;
}
.addChild:hover{
    opacity: 1;
}
ul.treeView textarea {
    resize: none;
    margin-left: 10px;
}
.attributeName{
    margin: 0 2px 0 5px;
    color: rgb(66, 128, 244);
}
.attributeValue{
    margin: 0 5px 0 2px;
    color: rgb(247, 60, 60);
    cursor: pointer;
}
.attributeValue:hover{
    color: rgb(138, 0, 0);
}
.newAttributeContainer{
    display:inline-block;
}
.addAttribute, .deleteNode, .removeAttribute, .editAttribute{
    margin: 0 4px;
    height: 16px;
    width: 16px;
    opacity: 0.3;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.addAttribute:hover, .deleteNode:hover, .removeAttribute:hover, .editAttribute:hover{
    opacity: 0.8;
}
h2.xmlParsingErrorMessage{
    color:rgb(206, 0, 0);
    margin: 10px auto;
}
span.xmlParsingErrorMessage{
    color:rgb(206, 0, 0);
    font-size: 20px;
}
.textbox{
    margin: 3px 5px;
    width: 180px;
    border: 0;
    border-bottom: 2px solid rgb(165, 165, 165);
    background: rgba(80, 214, 255, 0.056);
}
.textbox:focus{
    border-bottom: 2px solid rgb(73, 73, 73);
}
button{
    margin: 2px 2px 2px 5px;
}
.editNodeText{
    margin: 5px 5px 5px 20px;
}

