#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 90%;
    height: 220px;
    font-family: sans-serif;
    margin: 30px auto;
    padding: 20px;
}
#drop-area.highlight {
    border: 3px dashed rgb(159, 203, 206);
    -webkit-box-shadow: 0 0 13px 3px grey inset;
    -moz-box-shadow: 0 0 13px 3px grey inset;
    box-shadow: 0 0 13px 3px grey inset;
}
.my-form {
    margin-bottom: 10px;
}
.file-name{
    margin-top:10px;
}
.success{
    color:green;
}
.fail{
    color:red;
}
.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.button:hover {
    background: #ddd;
}
#file {
    display: none;
}