.container-fluid{
    margin-top:-60px;
}
.CodeMirror{
    border:1px solid rgb(211, 211, 211);
}
.CodeMirror-matchingtag{
    background-color: rgb(233, 233, 233) !important;
}
.cm-trailingspace{
    background-color: rgb(255, 224, 224);
}
.tab-content{
    margin-top:20px;
}
.text-editor-options{
    margin:20px auto;
}
.text-editor-options button{
    font-size: 18px;
}
.document-options{
    margin: 0 auto 30px;
}
.document-options button{
    margin: 0 10px;
    font-size: 18px;
}
