body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.combo {
  position: relative;
  float: left;
  color:red;
}

input[type="checkbox"]{
  width: 20px; /*Desired width*/
  height: 20px; /*Desired height*/
  cursor: pointer;
  margin-left: 0px !important;
  margin-top: -3px !important;
}
