{% extends 'app/base.html' %}

{% block body1 %}
<div class="col-md-3">
</div>
<div class="col-md-6">
<div class="panel panel-default">
<div class="panel-heading"> <h1 class="panel-title">Forgot password</h1> </div>
<div class="panel-body">
  <form id="login_form" role="form"  class="form-horizontal"  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.email.errors }}
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      	<div class="col-sm-10">
        		{{ form.email }}
      	</div>
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
  </form>
</div>
</div>
</div>
<div class="col-md-3">
</div>
{% endblock %}
