{% autoescape off %}

Username : {{ user.get_username }}

To initiate the password reset process for your SPDX Online tools Account, click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
+window instead.

If you have received this email and have not requested to reset the password for this user account,
please contact < test@spdx.org > immediately regarding this unexpected activity.

Sincerely,
The SPDX Team
{% endautoescape %}
