{% extends 'app/base.html' %}
{% load static %}
{% load staticfiles %}
{% block body1 %}
<div class ="col-md-6 col-sm-6">
<img src={% static "images/logo_spdx.png" %} alt="SPDX Logo"/>
</div>
<div class ="col-md-6 col-sm-6">
<img src={% static "images/GSoCLogo.jpg" %} alt="GSoC Logo" height="100%" width="100%" />
</div>
<br>
<p class="lead" style="color:#0097c4;"><strong>What is SPDX?</strong></p>
<h3>The Software Package Data Exchange (SPDX) specification is a standard format for communicating the components, licenses and copyrights associated with a software package.</h3>
<hr>
<p class="lead" style="color:#0097c4;"><strong>What is this about ?</strong></p>
<h3>Providing an all-in-one portal to upload and parse SPDX documents for validation, comparison and conversion and search SPDX license list.</h3>
<hr>
<p class="lead text-right" style="color:#0097c4;"><strong>Project by - Rohit Lodha, GSoC 2017<br> Tushar Mittal, GSoC 2018</strong></p>

{% endblock %}

{% block script_block %}
<script type="text/javascript">
$(document).ready(function () {
    $("#aboutpage").addClass('linkactive');
  });
</script>
{% endblock %}