<!DOCTYPE html>
{% load static %}
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href={% static 'images/logo_spdx.jpg' %}>

    <title >SPDX Validation Tool - {% block title %}{% endblock %}</title>

    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/starter-template.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/dropzone.css' %}" rel="stylesheet" type="text/css">
    {% block head_block %}{% endblock %}
	</head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand navbar-left" href="/app/">SPDX Validation Tool</a>
        </div>
        <div class="container">
        <div id="navbar" class="collapse navbar-collapse" style="margin-left: 75px;">
          <ul class="nav navbar-nav">
            <li><a href="/app/about/">About</a></li>
            <li><a href="/app/validate/">Validate</a></li>
            <li><a href="/app/compare/">Compare</a></li>
            <li><a href="/app/convert/">Convert</a></li>
						<li><a href="/app/search/">Search</a></li>
						 {% if user.is_authenticated %}
						 <li><a href="/app/logout/">Logout</a></li>
						 {% else %}
						<li><a href="/app/login/">Login</a></li>
						<li><a href="/app/register/">Register</a></li>
						{% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        {% block body1 %}{% endblock %}
      </div>

    </div><!-- /.container -->
		{% block body2 %}{% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/dropzone.js' %}"></script>
    {% block script_block %}{% endblock %}
  </body>
</html>
