{% extends 'app/base.html' %}
{% load static %}
{% load staticfiles %}
{% block body1 %}
<div id="messages" class="messages">
</div>
<p class ="lead"> {{ error }}</p>
<div class="panel panel-default">
<div class="panel-heading"> <p class="lead"> Check License</p> </div>
<div class="panel-body">
<form id="checklicenseform" enctype="multipart/form-data" class = "form-horizontal" method = "post"  >
		{% csrf_token %}
		<textarea id="licensetext" rows="18" style="width: 100%"></textarea>
		<button id="checklicensebutton" class=" btn btn-md btn-info" type="submit">Check License</button>
</form>
{% include "app/modal.html" %} 
<!--
<output id="list"></output>
-->
</div>
{% endblock %}
{% block script_block %}
<script type="text/javascript">
$(document).ready(function () {
    $("#checklicensepage").addClass('linkactive');
    });
</script>
{% endblock %}
