{% extends 'app/base.html' %}
{% load static %}

{% block head_block %}
  <link href="{% static 'css/dragdrop.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body1 %}
<div id="messages" class="messages">
</div>
<p class ="lead"> {{ medialink }}</p>
<p class ="lead"> {{ error }}</p>
<div class="panel panel-default">
<div class="panel-heading">
	<p class="lead">Compare SPDX 2.X documents</p>
</div>
<div class="panel-body">
<form id="compareform" enctype="multipart/form-data" class="form-horizontal" method="post">
		{% csrf_token %}
		<div id="drop-area" class="container">
      <h4 id="doclabel">Upload SPDX documents using the button or by dragging and dropping onto the dashed region</h4>
      <input type="file" id="file" onchange="handleFiles(this.files)" multiple>
			<label class="button" for="file">Select files</label> &nbsp;
			<label class="button reset">Reset files</label>
      <div class="file-name">No file selected</div>
		</div>
		<br>
		<div class = "form-group">
			<div class="col-sm-12">
			<label class="control-label col-sm-3">Result file name</label>
				<div class="col-sm-6"> 
					<input type="text" id="rfilename" name="rfilename">
					<label class="control-label" id="convertdoclabel">.xlsx</label>
				</div>
			</div>
		</div>
		<hr>
        <p id ="warning-msg" hidden="true"></p>
		<button class=" btn btn-md btn-info" type="submit" id="comparebutton" name="compare">Compare</button>
</form>
</div>
</div>
{% include "app/modal.html" %}
{% endblock %}

{% block script_block %}

<script type="text/javascript">
  /* Javascript to handel drag and drop */
  let dropArea = document.getElementById('drop-area');
  var selected_files = [];
  ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
    dropArea.addEventListener(eventName, preventDefaults, false)
  });
  
  function preventDefaults (e) {
    e.preventDefault()
    e.stopPropagation()
  }

  ['dragenter', 'dragover'].forEach(eventName => {
    dropArea.addEventListener(eventName, highlight, false)
  });
  
  ['dragleave', 'drop'].forEach(eventName => {
    dropArea.addEventListener(eventName, unhighlight, false)
  });
  
  function highlight(e) {
    dropArea.classList.add('highlight')
  }
  
  function unhighlight(e) {
    dropArea.classList.remove('highlight')
  }
  
  dropArea.addEventListener('drop', handleDrop, false)

  function handleDrop(e) {
    let dt = e.dataTransfer
    let files = dt.files
    handleFiles(files)
  }

  function handleFiles(files) {
    ([...files]).forEach(checkFile)
  }
  
  function checkFile(file){
    if(file && selected_files.length<13){
      if ($(".file-name").text() == "No file selected"){
				$(".file-name").html("<b>Selected files:</b><ul>");
				$(".file-name").append("<li>" + file.name + "</li>");
			}
			else{
				$(".file-name").append("<li>" + file.name + "</li>");
			}
      selected_files.push(file);
		}
		else if(selected_files.length>=13){
			$("#messages").html('<div class="alert alert-danger alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Maximum file upload limit reached.</strong></div>');
	    setTimeout(function() {
	        $("#messages").html("");
	      }, 5000);
		}
		checkFilesSize(selected_files, "#warning-msg");
  }

function checkform() {
  if (selected_files.length<2){
    return ("Please select atleast 2 files.");
	}
	else if($('#rfilename').val() == ""){
		$('#rfilename').focus();
    return("Please choose a file name for the converted file.");
	}
	else{
		return 1;
	}
}

$(".reset").on("click", function(){
	selected_files = [];
	$(".file-name").html("No file selected");
	removeWarningElement("#warning-msg");
})
</script>

<script type="text/javascript">
  $('#compareform').on('submit', function(event){
    event.preventDefault();
    var check = checkform();
    if (check=="1"){
    	$("#comparebutton").text("Comparing");
	    $("#comparebutton").prop('disabled', true);
        $("#messages").html("");
			var form = new FormData($("#compareform")[0]);
			for(var i=0; i<selected_files.length; i++){
				form.append('files', selected_files[i]);
			}
	    $.ajax({
	            type: "POST",
	            enctype: 'multipart/form-data',
	            url: "/app/compare/",
	            processData: false,
	            contentType: false,
	            dataType: 'json',
	            cache: false,
	            timeout: 600000,
	            data: form,
	            success: function (data) {
	                console.log("SUCCESS : ", data);
	                $("#modal-header").removeClass("red-modal");
	                $("#modal-header").removeClass("yellow-modal");
                    $("#modal-header").addClass("green-modal");
                    $("#modal-title").html("Success!");
	                $("#modal-body").html('<h3><a href="'+data.medialink+'"><span class="glyphicon glyphicon-save-file"></span> Download file now</a></h3>');
	                $("#myModal").modal({
	                        backdrop: 'static',
	                        keyboard: true, 
	                        show: true
	                });
	                $("#comparebutton").text("Compare");
    				$("#comparebutton").prop('disabled', false);
	            },
	            error: function (e) {
	                console.log("ERROR : ", e);
	                $("#modal-body").text("");
	                $("#modal-header").removeClass("green-modal");
	                try{
		                var obj = JSON.parse(e.responseText);
		                if (obj.type=="warning"){
		                    $("#modal-header").removeClass("red-modal");
		                    $("#modal-header").addClass("yellow-modal");
		                    $("#modal-title").html("Warning!");
		                    for(i=0;i<obj["files"].length;i++){
			                	$("#modal-body").append("<b>" + obj["files"][i] + "</b><br>");
			                	$("#modal-body").append(obj["errors"][i] + "<br><hr>");
			                }
			                $("#modal-body").append("Ignoring the warnings, the following file was generated<br>");
			                $("#modal-body").append('<h3><a href="'+obj.medialink+'"><span class="glyphicon glyphicon-save-file"></span> Download file now</a></h3>');

		                }
		                else if (obj.type=="warning2"){
		                    $("#modal-header").removeClass("red-modal");
		                    $("#modal-header").addClass("yellow-modal");
		                    $("#modal-title").html("Warning!");
		                    for(i=0;i<obj["files"].length;i++){
			                	$("#modal-body").append("<b>" + obj["files"][i] + "</b><br>");
			                	$("#modal-body").append(obj["errors"][i] + "<br><hr>");
			                }
			                $("#modal-body").append("Ignoring the warnings,the compare tool was run and the following error was generated:<br><hr>");
			                $("#modal-body").append(obj["toolerror"]);

		                }
	                    else if (obj.type=="error"){
		                    $("#modal-header").removeClass("yellow-modal");
		                    $("#modal-header").addClass("red-modal");
		                    $("#modal-title").html("Error!");
		                    for(i=0;i<obj["files"].length;i++){
			                	$("#modal-body").append("<b>" + obj["files"][i] + "</b><br>");
			                	$("#modal-body").append(obj["errors"][i] + "<br><hr>");
			                }
	                    }
	                }
	                catch (e){
	                	$("#modal-header").removeClass("yellow-modal");
	                    $("#modal-header").addClass("red-modal");
	                    $("#modal-title").html("Error!");
	                    $("#modal-body").text("The application could not be connected. Please try later.");
	                }

	                $("#myModal").modal({
                          backdrop: 'static',
                          keyboard: true, 
                          show: true
                  	});
	                $("#comparebutton").text("Compare");
    				$("#comparebutton").prop('disabled', false);
	            }
	        });
	}
	else{
		$("#messages").html('<div class="alert alert-danger alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Error!</strong> '+check+'</div>');
	    setTimeout(function() {
	        $("#messages").html("");
	      }, 5000);
	}
});
</script>

<script type="text/javascript">
$(document).ready(function () {
	$("#comparepage").addClass('linkactive');
});
</script>

{% endblock %}