{% extends 'app/base.html' %}
{% load static %}
{% load staticfiles %}
{% block body1 %}
<p class ="lead"> {{ error }}</p>
<div class="panel panel-default">
<div class="panel-heading"> <p class="lead"> Convert to other SPDX format</p> </div>
<div class="panel-body">
<form id="myform" enctype="multipart/form-data" class = "form-horizontal" method = "post"  >
		{% csrf_token %}
		<div class = "form-group">
		&nbsp; From &nbsp;
			 <select name="from_format" id="from_format">
			 	  <option value="0" name ="here" selected="">-</option>
				  <option value="Tag">Tag</option>
				  <option value="RDF">RDF</option>
				  <option value="Spreadsheet">Spreadsheet</option>
			</select>
			&nbsp; To &nbsp;
			<select name="to_format" id="to_format">
				  <option value="0" data-value="0" selected="">-</option>
				  <option value="Spreadsheet" data-value="Tag" >Spreadsheet</option>
				  <option value="RDF" data-value="Tag" >RDF</option>
				  <option value="Tag" data-value="RDF">Tag</option>
				  <option value="HTML" data-value="RDF">HTML</option>
				  <option value="Spreadsheet" data-value="RDF">Spreadsheet</option>
				  <option value="Tag" data-value="Spreadsheet">Tag</option>
				  <option value="RDF" data-value="Spreadsheet">RDF</option>
			</select>
		</div>
		<div class = "form-group">
			<div class="col-sm-12">
			<label class="control-label col-sm-3" id="doclabel" >SPDX Document</label>
				<div class="col-sm-3"> 
				  <input type="file" id="file" placeholder="" name = "file"  >
				</div>
			</div>	
		</div>
		<div class = "form-group">
			<div class="col-sm-12">
			<label class="control-label col-sm-3" >Converted File Name</label>
				<div class="col-sm-3"> 
				  <input type="text" id="cfilename" placeholder="" name = "cfilename"  >
				  <label class="control-label" id="convertdoclabel" ></label>
				</div>
			</div>	
		</div>
		<input class=" btn btn-md btn-info" type="submit" value="Convert">
</form>
</div>
{% endblock %}
{% block script_block %}
<script type="text/javascript">
$(document).ready(function () {
	$("#from_format").change(function() {
	  if ($(this).data('options') === undefined) {
	    /*Taking an array of all options-2 and kind of embedding it on the select1*/
	    $(this).data('options', $('#to_format option').clone());
	  }
	  var id = $(this).val();
	  var options = $(this).data('options').filter('[data-value=' + id + ']');
	  $('#to_format').html(options);
	  if (id!="0"){
	  	$('#doclabel').text("SPDX " +id + " Document");
	  }
	  else{
	  	$('#doclabel').text("SPDX Document");
	  }
	  var id2 = $('#to_format').val();
	  if (id2=="Spreadsheet"){
	  	$('#convertdoclabel').text(".xlsx");
	  }
	  else if (id2=="RDF"){
	  	$('#convertdoclabel').text(".rdf");
	  }
	  else if (id2=="Tag"){
	  	$('#convertdoclabel').text(".spdx");
	  }
	  else if (id2=="HTML"){
	  	$('#convertdoclabel').text(".html");
	  }
	  else{
	  	$('#convertdoclabel').text();
	  }
	});
	$("#to_format").change(function() {
	  var id = $(this).val();
	  if (id=="Spreadsheet"){
	  	$('#convertdoclabel').text(".xlsx");
	  }
	  else if (id=="RDF"){
	  	$('#convertdoclabel').text(".rdf");
	  }
	  else if (id=="Tag"){
	  	$('#convertdoclabel').text(".spdx");
	  }
	  else if (id=="HTML"){
	  	$('#convertdoclabel').text(".html");
	  }
	  else{
	  	$('#convertdoclabel').text();
	  }
	});
})
</script>
{% endblock %}