{% extends 'app/base.html' %}
{% load static %}
{% load staticfiles %}
{% block body1 %}
<!--
<style type="text/css">
  .demo-droppable {
    background: #08c;
    color: #fff;
    padding: 100px 0;
    text-align: center;
  }
  .demo-droppable.dragover {
    background: #00CC71;
  }
</style>
-->
<div id="messages" class="messages">
</div>

<p class ="lead"> {{ error }}</p>
<div class="panel panel-default">
<div class="panel-heading"> <p class="lead"> Convert to other SPDX format</p> </div>
<div class="panel-body">
<form id="myform" enctype="multipart/form-data" class = "form-horizontal" method = "post"  >
		{% csrf_token %}
		<div class = "form-group">
		&nbsp; From &nbsp;
			 <select name="from_format" id="from_format">
			 	  <option value="0" name ="here" selected="">-</option>
				  <option value="Tag">Tag</option>
				  <option value="RDF">RDF</option>
				  <option value="Spreadsheet">Spreadsheet</option>
			</select>
			&nbsp; To &nbsp;
			<select name="to_format" id="to_format">
				  <option value="0" data-value="0" selected="">-</option>
				  <option value="Spreadsheet" data-value="Tag" >Spreadsheet</option>
				  <option value="RDF" data-value="Tag" >RDF</option>
				  <option value="Tag" data-value="RDF">Tag</option>
				  <option value="HTML" data-value="RDF">HTML</option>
				  <option value="Spreadsheet" data-value="RDF">Spreadsheet</option>
				  <option value="Tag" data-value="Spreadsheet">Tag</option>
				  <option value="RDF" data-value="Spreadsheet">RDF</option>
			</select>
		</div>
		<div class = "form-group">
			<div class="col-sm-12">
			<label class="control-label col-sm-3" id="doclabel" >SPDX Document</label>
				<div class="col-sm-3"> 
				  <input type="file" id="file" placeholder="" name = "file"  >
				</div>
			</div>	
		</div>
		<div class = "form-group">
			<div class="col-sm-12">
			<label class="control-label col-sm-3" >Converted File Name</label>
				<div class="col-sm-3"> 
				  <input type="text" id="cfilename" placeholder="" name = "cfilename"  >
				  <label class="control-label" id="convertdoclabel" ></label>
				</div>
			</div>	
		</div>
    <hr>
		<input type="hidden" id="cfileformat" name="cfileformat" value="">
		<input class=" btn btn-md btn-info" type="submit" value="Convert">
</form>
</div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div id="modal-header" class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 id="modal-title" class="modal-title"></h4>
      </div>
      <div id="modal-body" class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
{% endblock %}
{% block script_block %}
<script type="text/javascript">
$(document).ready(function () {
  $("#convertpage").addClass('linkactive');
  $("#from_format").change(function() {
    if ($(this).data('options') === undefined) {
      /*Taking an array of all options-2 and kind of embedding it on the select1*/
      $(this).data('options', $('#to_format option').clone());
    }
    var id = $(this).val();
    var options = $(this).data('options').filter('[data-value=' + id + ']');
    $('#to_format').html(options);
    if (id!="0"){
      $('#doclabel').text("SPDX " +id + " Document");
    }
    else{
      $('#doclabel').text("SPDX Document");
    }
    var id2 = $('#to_format').val();
    if (id2=="Spreadsheet"){
      $('#convertdoclabel').text(".xlsx");
      $('#cfileformat').val(".xlsx");
    }
    else if (id2=="RDF"){
      $('#convertdoclabel').text(".rdf");
      $('#cfileformat').val(".rdf");
    }
    else if (id2=="Tag"){
      $('#convertdoclabel').text(".spdx");
      $('#cfileformat').val(".spdx");
    }
    else if (id2=="HTML"){
      $('#convertdoclabel').text(".html");
      $('#cfileformat').val(".html");
    }
    else{
      $('#convertdoclabel').text();
      $('#cfileformat').val("");
    }
  });
  $("#to_format").change(function() {
    var id2 = $('#to_format').val();
    if (id2=="Spreadsheet"){
      $('#convertdoclabel').text(".xlsx");
      $('#cfileformat').val(".xlsx");
    }
    else if (id2=="RDF"){
      $('#convertdoclabel').text(".rdf");
      $('#cfileformat').val(".rdf");
    }
    else if (id2=="Tag"){
      $('#convertdoclabel').text(".spdx");
      $('#cfileformat').val(".spdx");
    }
    else if (id2=="HTML"){
      $('#convertdoclabel').text(".html");
      $('#cfileformat').val(".html");
    }
    else{
      $('#convertdoclabel').text();
      $('#cfileformat').val("");
    }
  });
})
</script>
<script type="text/javascript">
function checkform() {
  if ($('#file').get(0).files.length === 0) {
    return ("No files selected.");
  }
  else if (($('#from_format').val() == "0")){
    return("Please select the conversion type.");
  }
  else if (($('#to_format').val() == "0")){
    return("Please select the conversion type.");
  }
  else if (($('#cfilename').val() == "")){
    return("Please choose a file name for the converted file.");
  }
  else {
    return "1";
  }
}
</script>
<script type="text/javascript">
  $('#myform').on('submit', function(event){
    event.preventDefault();
    var check = checkform();
    if (check=="1"){
      $("#messages").html("");
      var form = new FormData($("#myform")[0]);
      console.log(form)
      $.ajax({
              type: "POST",
              enctype: 'multipart/form-data',
              url: "/app/convert/",
              processData: false,
              contentType: false,
              dataType: 'json',
              cache: false,
              timeout: 600000,
              data: form,
              success: function (data) {
                  console.log("SUCCESS : ", data);
                  $("#modal-header").removeClass("red-modal");
                  $("#modal-header").addClass("green-modal");
                  $("#modal-title").html("Success!");
                  $("#modal-body").html('<h3><a href="'+data.medialink+'"><span class="glyphicon glyphicon-save-file"></span> Download file now</a></h3>');
                  $("#myModal").modal({
                          backdrop: 'static',
                          keyboard: true, 
                          show: true
                  });
              },
              error: function (e) {
                  console.log("ERROR : ", e);
                  var obj = JSON.parse(e.responseText);
                  $("#modal-header").removeClass("green-modal");
                  $("#modal-header").addClass("red-modal");
                  $("#modal-title").html("Error!");
                  $("#modal-body").html("<h3>"+obj.data+"</h3");
                  $("#myModal").modal({
                          backdrop: 'static',
                          keyboard: true, 
                          show: true
                  });
              }
          });
    }
    else{
      $("#messages").html('<div class="alert alert-danger alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Error! </strong>'+check+'</div>');
      setTimeout(function() {
        $("#messages").html("");
      }, 5000);
    }
});

</script>

<!--
<script type="text/javascript">
  (function(window) {
    function triggerCallback(e, callback) {
      if(!callback || typeof callback !== 'function') {
        return;
      }
      var files;
      if(e.dataTransfer) {
        files = e.dataTransfer.files;
      } else if(e.target) {
        files = e.target.files;
      }
      callback.call(null, files);
    }
    function makeDroppable(ele, callback) {
      var input = document.createElement('input');
      input.setAttribute('type', 'file');
      input.setAttribute('multiple', false);
      input.style.display = 'none';
      input.addEventListener('change', function(e) {
        triggerCallback(e, callback);
      });
      ele.appendChild(input);
      
      ele.addEventListener('dragover', function(e) {
        e.preventDefault();
        e.stopPropagation();
        ele.classList.add('dragover');
      });

      ele.addEventListener('dragleave', function(e) {
        e.preventDefault();
        e.stopPropagation();
        ele.classList.remove('dragover');
      });

      ele.addEventListener('drop', function(e) {
        e.preventDefault();
        e.stopPropagation();
        ele.classList.remove('dragover');
        triggerCallback(e, callback);
      });
      
      ele.addEventListener('click', function() {
        input.value = null;
        input.click();
      });
    }
    window.makeDroppable = makeDroppable;
  })(this);
  (function(window) {
    makeDroppable(window.document.querySelector('.demo-droppable'), function(files) {
      console.log(files);
      var output = document.querySelector('.output');
      output.innerHTML = '';
      for(var i=0; i<files.length; i++) {
        output.innerHTML += '<p>'+files[i].name+'</p>';
      }
    });
  })(this);
</script>
<script type="text/javascript">
  (function(window) {
    function triggerCallback(e, callback) {
      if(!callback || typeof callback !== 'function') {
        return;
      }
      var files;
      if(e.dataTransfer) {
        files = e.dataTransfer.files;
      } else if(e.target) {
        files = e.target.files;
      }
      callback.call(null, files);
    }
    function makeDroppable(ele, callback) {
      var input = document.createElement('input');
      input.setAttribute('type', 'file');
      input.setAttribute('multiple', false);
      input.style.display = 'none';
      input.addEventListener('change', function(e) {
        triggerCallback(e, callback);
      });
      ele.appendChild(input);
      
      ele.addEventListener('dragover', function(e) {
        e.preventDefault();
        e.stopPropagation();
        ele.classList.add('dragover');
      });

      ele.addEventListener('dragleave', function(e) {
        e.preventDefault();
        e.stopPropagation();
        ele.classList.remove('dragover');
      });

      ele.addEventListener('drop', function(e) {
        e.preventDefault();
        e.stopPropagation();
        ele.classList.remove('dragover');
        triggerCallback(e, callback);
      });
      
      ele.addEventListener('click', function() {
        input.value = null;
        input.click();
      });
    }
    window.makeDroppable = makeDroppable;
  })(this);
  (function(window) {
    makeDroppable(window.document.querySelector('.demo-droppable'), function(files) {
      console.log(files);
      var output = document.querySelector('.output');
      output.innerHTML = '';
      for(var i=0; i<files.length; i++) {
        output.innerHTML += '<p>'+files[i].name+'</p>';
      }
    });
  })(this);
</script>
-->
{% endblock %}