{% extends 'app/base.html' %} 
{% load static %} 

{% block body1 %}
<iframe
  id="dots-iframe"
  src="https://condots.duckdns.org"
  style="width: 100%; height: calc(100vh - 50px); min-height: calc(100vh - 50px); margin-top: 50px; position: absolute; top: 0; left: 0;"
  sandbox="allow-scripts allow-same-origin allow-downloads allow-popups allow-presentation"
  allow="clipboard-write"
></iframe>
{% endblock %} 

{% block script_block %}
<script type="text/javascript">
  $(document).ready(function () {
    $('#dots').addClass('linkactive')
  })
</script>
{% endblock %}
