{% extends 'app/base.html' %}
{% load static %}
{% load staticfiles %}

{% block head_block %}
    <link href="{% static 'css/editor.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/editor/codemirror.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/editor/fullscreen.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/editor/show-hint.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/editor/foldgutter.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/editor/treeview.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body1 %}
    {% include "app/modal.html" %}
{% endblock %}

{% block body2 %}
    <div class="container-fluid">
        <input type="hidden" id="xmlText" value="{{xml_text}}">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#text" id="tabTextEditor">Text Editor</a></li>
            <li><a data-toggle="tab" href="#tree" id="tabTreeEditor">Tree Editor</a></li>
            <li><a data-toggle="tab" href="#split" id="tabSplitView">Split View</a></li>
        </ul>
        <div class="tab-content">
            <div id="text" class="tab-pane fade in active">
                <div class="text-editor-options">
                    <center>
                    <button id="dec-fontsize" class="btn"> <b>-</b> </button> Font Size <button id="inc-fontsize" class="btn"> <b>+</b> </button>&nbsp;
                    <button id="fullscreen" class="btn btn-default">Fullscreen</button>
                    <button class="btn btn-md btn-default" id="beautify">Beautify</button>
                    </center>
                </div>
                <textarea class="codemirror-textarea">{{xml_text}}</textarea>
            </div>
            <div id="tree" class="tab-pane fade">
                <div class="treeContainer">
                    <ul id="treeView" class="treeView">
                        <li></li>
                    </ul>
                </div>
            </div>
            <div id="split" class="tab-pane fade">
                <div class="col-md-6 splitTextEditorContainer">
                    <textarea class="codemirror-textarea">{{xml_text}}</textarea>
                </div>
                <div class="col-md-6 splitTreeEditorContainer">
                    <ul id="splitTreeView" class="splitTreeView">
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><hr>
    <div class="document-options">
        <center>
            <button class="btn btn-success" id="download" data-toggle="tooltip" data-placement="left" title="Download the XML Document">Download</button>
            <button class="btn btn-info" id="makePullRequest" data-toggle="tooltip" title="Make a Pull Request in the SPDX XML License Repository to get your changes reviewed and merged" data-placement="right">Submit Changes</button>
        </center>
    </div>
{% endblock %}

{% block script_block %}
<script type="text/javascript" src="{% static 'js/editor/codemirror.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor/xml.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor/fullscreen.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor/foldgutter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor/foldcode.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor/xml-fold.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor/matchtags.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor/closebrackets.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor/closetag.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor/trailingspace.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor/show-hint.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor/xml-hint.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor/treeview.js' %}"></script>
{% endblock %}
