{% extends 'app/base.html' %}
{% load static %}
{% block body1 %}
<div class="container">
    <div class="row text-center">
        <div class="col-sm-12">
            <img src={% static "images/spdx.png" %}
                alt="SPDX logo" class="img-responsive center-block" />
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-12">
            <p class="lead" style="color:#0097c4;">
                <strong>SPDX Online Tools -
                    an all-in-one portal to upload and parse SPDX documents
                    for validation, conformance check, comparison, conversion
                    and SPDX license list search.</strong>
            </p>
            <p class="lead">Select the tool by clicking on the tool name on
                the menu bar.</p>
        </div>
    </div>
</div>
{% endblock %}
