{% extends 'app/base.html' %}
{% load static %}
{% block body1 %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
{% if github_login %}
<p id="githubLogin" hidden>True</p>
{% else %}
<p id="githubLogin" hidden>False</p>
{% endif %}

<div id="messages" class="messages">
</div>
<p class ="lead"> {{ error }}</p>
<div class="panel panel-default">
<div class="panel-heading"> <p class="lead">License Namespace Requests List</p> </div>
<div class="panel-body" style="overflow: scroll;">
    <table id="requests_table" class="display dataTable">
      <thead>
        <tr>
          <th>Fullname</th>
          <th>Short Identifier</th>
          <th>License author name</th>
          <th>Submission Date (UTC)</th>
          <th>Archive</th>
          <th>Promote</th>
        </tr>
      </thead>
      <tbody>
        {% if licenseNamespaceRequests %}
        {% for elem in licenseNamespaceRequests %}
          <tr class='clickableRow' id={{elem.id}}>
            <td>{{elem.fullname}}</td>
            <td>{{elem.shortIdentifier}}</td>
            <td>{{elem.licenseAuthorName}}</td>
            <td>{{elem.submissionDatetime}}</td>
            <td id="archive_license">
              {% csrf_token %}
              <button id='archive_button{{elem.id}}' class='btn btn-success' width='25px' value='Archive'>Archive</button>
            </td>
            <td>
              {% csrf_token %}
              <button id='promote_button{{elem.id}}' class='btn btn-success' width='25px' {%if elem.promoted %} disabled {% endif %} {%if elem.promoted %} title="License request already created" {% endif %} value='Promote'>Promote to license list</button>
            </td>
          </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>

{% include "app/modal.html" %}
</div>
{% endblock %}
{% block script_block %}

<script type="text/javascript">
  $(document).ready(function () {
      $("#licensenamespace").addClass('linkactive');
      $("#licensenamespacerequests").addClass('linkactive');
      });
</script>

<script type="text/javascript">
  $(document).ready( function () {
      $('#requests_table').DataTable({
        'info': false,
        'order': false
      });
  });
</script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

<script type="text/javascript">
  $('tbody tr').each(function (i,e) {
    $(e).children('td:not(:last):not(#archive_license)', 'td:not(#archive_license)').click(function () {
      var $licenseId = $(this).closest("tr").attr('id');
      location.href="/app/license_namespace_requests/" + $licenseId;
    });
    $('body').on('click', 'button[id^="archive_button"]', function (en) {
      en.stopImmediatePropagation();
      $("#modal-header").addClass("yellow-modal");
	    $(".modal-footer").html('<button class="btn btn-success" id="confirm_archive"><span class="glyphicon glyphicon-off"></span> Confirm</button>');
      $("#modal-body").html('Are you sure you want to archive this license?');
      $("#myModal").modal({
        backdrop: 'static',
        keyboard: true,
        show: true,
      })
      var license = $(this).closest('tr');
      $(document).on('click','button#confirm_archive', function(event){
        event.preventDefault();
        $("#myModal").modal("hide");
        archiveLicense(license);
      });
    });
  });
  $('tbody tr').each(function (i,e) {
    var githubLogin = $("#githubLogin").text();
      $('body').on('click', 'button[id^="promote_button"]', function (en) {
        en.stopImmediatePropagation();
        if(githubLogin == "False"){
      		$("#modal-header").removeClass("red-modal green-modal");
      		$("#modal-header").addClass("yellow-modal");
      		$(".modal-footer").html('<button class="btn btn-success" id="github_auth_begin"><span class="glyphicon glyphicon-ok"></span> Confirm</button>');
      		$("#modal-body").html('To promote a license namespace, you must log in using GitHub. <ul><li>You will now be redirected to the GitHub login. Please allow the requested permissions.</li><li>If you do not have a GitHub account, you can <a href="https://github.com/">sign up</a> for free or you can email your new license namespace to <a href="mailto:spdx-legal@lists.spdx.org">spdx-legal@lists.spdx.org</a>.</li></ul>');
              $("#myModal").modal({
                 backdrop: 'static',
                 keyboard: true,
                 show: true
              });
      	} else {
          $("#modal-header").addClass("yellow-modal");
    	    $(".modal-footer").html('<button class="btn btn-success" id="confirm_promote"><span class="glyphicon glyphicon-off"></span> Confirm</button>');
          $("#modal-body").html('Are you sure you want to promote this license to the license list?');
          $("#myModal").modal({
            backdrop: 'static',
            keyboard: true,
            show: true,
          })
          var license = $(this).closest('tr');
          $(document).on('click','button#confirm_promote', function(event){
            event.preventDefault();
            $("#myModal").modal("hide");
            promoteLicense(license);
          });
        }
      });
  });
  function archiveLicense(license) {
    var archive = 'True';
    var $licenseId = license.attr('id');
    $.ajax({
      url: '/app/archive_namespace_requests/',
      type: 'POST',
      data: {
        'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
        'archive': archive,
        'license_id': $licenseId
        },
      dataType: 'json'
    });
    license.remove();
    if(!$('tbody tr').length) {
      var emptyRowContent = '<tr><td colspan="5" class="dataTables_empty" valign="top">No data available in table</td></tr>';
      $("#requests_table tbody").append(emptyRowContent);
    }
  }
  function promoteLicense(license) {
    var promoted = 'True';
    var $licenseId = license.attr('id');
    $.ajax({
      url: '/app/promoted_namespace_requests/',
      type: 'POST',
      data: {
        'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
        'promoted': promoted,
        'license_id': $licenseId
        },
      dataType: 'json'
    });
    if(!$('tbody tr').length) {
      var emptyRowContent = '<tr><td colspan="5" class="dataTables_empty" valign="top">No data available in table</td></tr>';
      $("#requests_table tbody").append(emptyRowContent);
    }
  }
</script>
{% endblock %}
