{% extends 'app/base.html' %}
{% load static %}
{% load staticfiles %}
{% block body1 %}
{% if invalid %}
<div id="messages" class="messages">
<div class="alert alert-danger alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Error! </strong>{{ invalid}}
</div>
</div>
{% endif %}
<div class="col-md-3">
</div>
<div class="col-md-6">
<div class="panel panel-default">
<div class="panel-heading"> <p class="lead">Sign In</p> </div>
<div class="panel-body">
<form id="login_form" role="form"  class="form-horizontal"  method="post" action="/app/login/" enctype="multipart/form-data">
  {% csrf_token %}
	<div class="form-group">
    <label class="control-label col-sm-2" for="email">Username:</label>
    	<div class="col-sm-10">
      		<input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
    	</div>
  </div>
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Password:</label>
    	<div class="col-sm-10">
      		<input type="password" class="form-control" id="pwd" name="password" placeholder="Enter password">
    	</div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-5">
      <button type="submit" class="btn btn-lg btn-block btn-info"><span class="glyphicon glyphicon-log-in"></span> Login</button>
    </div>

  </div>
</form>
<h6> Not a user? <a href="/app/register/">Sign up</a> now!</h6>
<h6><a href="/app/password_reset/">Forgot password?</a></h6>
</div>
</div>
</div>
<div class="col-md-3">
</div>
{% include "app/modal.html" %}

{% endblock %}
{% block script_block %}
<!--
<script type="text/javascript">
// Ajax Login Submit
  $('#login_form').on('submit', function(event){
    event.preventDefault();
    var form = $('#login_form').serialize();
    $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "/app/login/",
            dataType: 'json',
            timeout: 600000,
            data: form,
            success: function (data) {
               window.location = data.next;
            },
            error: function (e) {
                console.log("ERROR : ", e);
                $("#modal-body").html(e.responseText);
                $("#myModal").modal('show');
            }
        });
});
-->
</script>
<script type="text/javascript">
$(document).ready(function () {
    $("#loginpage").addClass('linkactive');
  });
</script>
<!--
{% if invalid %}
<script type="text/javascript">
// Error display Timeout
      setTimeout(function() {
        $("#messages").html("");
      }, 5000);
</script>
{% endif %}-->
{% endblock %}
