{% extends 'app/base.html' %}
{% load static %}
{% load staticfiles %}
{% block body1 %}
{% if invalid %}
<div id="messages" class="messages">
<div class="alert alert-danger alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Error! </strong>{{ invalid}}
</div>
</div>
{% endif %}
<div class="col-md-3">
</div>
<div class="col-md-6">
<div class="panel panel-default">
<div class="panel-heading"> <p class="lead">Reset Password</p> </div>
<div class="panel-body">
<form id="reset_form" role="form"  class="form-horizontal"  method="post" action="/app/password_reset/" enctype="multipart/form-data">
  {% csrf_token %}
	<div class="form-group">
    <label class="control-label col-sm-3" for="email">Username/Email:</label>
    	<div class="col-sm-9">
      		<input type="text" class="form-control" id="username" name="username" placeholder="Enter username or email ID">
    	</div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-5">
      <button type="submit" class="btn btn-lg btn-block btn-info"><span class="glyphicon glyphicon-log-in"></span> Send Mail</button>
    </div>
  </div>
</form>
<h5>If you are a registered user, a reset link will be sent to your email account.</h5>
</div>
</div>
</div>  
<div class="col-md-3">
</div>
{% include "app/modal.html" %}

{% endblock %}
{% block script_block %}
{% endblock %}