{% extends 'app/base.html' %}
{% load static %}
{% block body1 %}
{% if user.is_authenticated %}
{% if success %}
<h3 style="color:green;">{{ success }}</h3>
{% endif %}
{% if error %}
<h3 style="color:red;">{{ error }}</h3>
{% endif %}
<ul class="nav nav-tabs nav-justified" >
  <li  class="active"><a data-toggle="tab" href="#info">Info</a></li>
  <li ><a data-toggle="tab" href="#changepassword">Change Password</a></li>
</ul>
<div class="tab-content">
    <div id="info" class="tab-pane fade in active">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
    <hr>
    <div class="panel panel-default">
    <div class="panel-heading"> <p class="lead">Information</p></div>
    <div class="panel-body">
      <form id="myform" enctype="multipart/form-data" class = "form-horizontal" method = "post"  >
        {% csrf_token %}
        <div class="text-right">
        <button id="edit" type="button" class="btn btn-info btn-sm">
          <span class="glyphicon glyphicon-edit"></span> Edit
        </button>
        </div>
        <fieldset id="info-fieldset" disabled>
        {% for field in info_form %}
        <div class="form-group">
        <label class="control-label col-sm-4" >{{ field.label_tag }}</label>
              <div class="col-sm-5">
                {{ field }}
              </div>
              <div class="col-sm-3">
              </div>
        </div>
        {% endfor %}
        {% for field in orginfo_form %}
        <div class="form-group">
        <label class="control-label col-sm-4" >{{ field.label_tag }}</label>
              <div class="col-sm-5">
                {{ field }}
              </div>
              <div class="col-sm-3">
              </div>
        </div>
        {% endfor %}
        </fieldset>
        <button class="btn btn-md btn-info"id="saveinfo"name="saveinfo" type="submit" disabled>Save changes</button>
      </form>
    </div>
    </div>
    </div>
    <div class="col-md-3">
    </div>
    </div>
    <div id="changepassword" class="tab-pane fade">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
    <div class="panel panel-default">
    <div class="panel-heading"> <p class="lead">Change Password</p> </div>
    <div class="panel-body">
      <form id="myform2" enctype="multipart/form-data" class = "form-horizontal" method = "post"  >
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
        <label class="control-label col-sm-4" >{{ field.label_tag }}</label>
              <div class="col-sm-5">
                {{ field }}
              </div>
              <div class="col-sm-3">
              </div>
        </div>
        {% endfor %}
        <button class="btn btn-md btn-info" name="changepwd" type="submit">Save changes</button>
      </form>
    </div>
    </div>  
    </div>
    <div class="col-md-3">
    </div>
    </div>
</div>
{% else %}
<div id="messages" class="messages">
You are not allowed to view this page. Please login first.
</div>
{% endif %}
{% endblock %}

{% block script_block %}
{% if user.is_authenticated %}
<script type="text/javascript">
$(document).ready(function () {
    $("#profilepage").addClass('linkactive');
    });
</script>
<script type="text/javascript">
$("#edit").on("click",function(event){
    event.preventDefault();
    var fieldset=document.getElementsByTagName('fieldset')[0];
    fieldset.disabled=false;
    $('#saveinfo').prop('disabled', false);
    $("#id_first_name").focus();
    this.disabled=true;
  });
</script>
{% endif %}
{% endblock %}