{% extends 'app/base.html' %}
{% load static %}
{% load staticfiles %}
{% block body1 %}
<div id="messages" class="messages">
</div>
<p class ="lead"> {{ error1 }}</p>
<p class ="lead"> {{ error2 }}</p>
<div class="col-md-3">
</div>
<div class="col-md-6">
<div class="panel panel-default">
<div class="panel-heading"> <p class="lead">Join the community</p> </div>
<div class="panel-body">
<p class="lead" style="color:red;">{{ invalid }}</p>
    <form id="register_form" role="form"  class="form-horizontal"  method="post" action="/app/register/" enctype="multipart/form-data" onsubmit="return checkForm()">
        {% csrf_token %}
        {% for field in user_form %}
        <div class="form-group">
      	<label class="control-label col-sm-4" >{{ field.label_tag }}</label>
    	      	<div class="col-sm-5">
          		  {{ field }}
          		</div>
              <div class="col-sm-3">
              </div>
      	</div>
	      {% endfor %}
      	{% for field in profile_form %}
      	<div class="form-group">
      	<div class="text-danger">{{ field.errors }}</div>
           	 <label class="control-label col-sm-4" >{{ field.label_tag }}</label>
      	      	<div class="col-sm-5">
            		{{ field }}
            		</div>
                <div class="col-sm-3">
                </div>
      	</div>
		    {% endfor %}
        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-5">
            <button type="submit" class="btn btn-lg btn-block btn-info"><span class="glyphicon glyphicon-ok"></span> Create Account</button>
          </div>
        </div>
    </form> 
    <h5><a href="{% url 'social:begin' 'github' %}?next=/app">Login with GitHub</a></h5>
    <h5><a href="/app/login/">Already a user?</a></h5>
</div>
</div>
</div>
<div class="col-md-3">
</div>
{% endblock %}
{% block script_block %}
<script type="text/javascript">
$(document).ready(function () {
    $("#registerpage").addClass('linkactive');
  });
</script>
<script type="text/javascript">
function validateEmail(email) {
  var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
  return re.test(email);
}
function validateUserName(username){
  var form = new FormData();
  var result = false;
  form.append("username",username);
  form.append("csrfmiddlewaretoken",document.getElementsByName('csrfmiddlewaretoken')[0].value);
  $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: "/app/checkusername/",
            processData: false,
            contentType: false,
            cache: false,
            dataType: 'json',
            timeout: 600000,
            data: form,
            async: false,
            success: function (data) {
              //console.log("Username does not exist");
              result = true;
            },
            error: function (e) {
              //console.log("Username exist");
              result = false;
            }
        });
    return result;
}
function validateForm() {
    var letters = /^[A-Za-z ]+$/;
    var firstname = $("#id_first_name").val();
    if (firstname){
      if (firstname.match(letters)){
      }
      else{
        return "Enter a valid first name.";
      }
    }
    else {
      return "Enter a valid first name.";
    }
    var lastname = $("#id_last_name").val()
    if (lastname){
      if (lastname.match(letters)){
      }
      else{
        return "Enter a valid last name.";
      }
    }
    else {
      return "Enter a valid last name.";
    }
    var email = $("#id_email").val();
    if (validateEmail(email)) {
    }
    else {
      return "Enter a valid email address.";
    }
    var username = $("#id_username").val();
    var checkuser = validateUserName(username);
    if (checkuser==true){
    }
    else{
      return "Username already exists."
    }
    var organisation = $("#id_organisation").val();
    if (organisation){
    }
    else {
      return "Enter a valid organisation name.";
    }
    return "1";
}
function checkForm() {
  var check = validateForm();
  if (check=="1"){
    return true;
  }
  else{
      $("#messages").html('<div class="alert alert-danger alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Error! </strong>'+check+'</div>');
      setTimeout(function() {
        $("#messages").html("");
      }, 5000);
      return false;
    }
}
</script>
{% endblock %}