{% extends 'app/base.html' %}
{% load static %}
{% load staticfiles %}
{% block body1 %}
    {% include "app/modal.html" %}
{% endblock %}
{% block body2 %}
<p id="githubLoginLink" hidden> {% url 'social:begin' 'github' %}</p>
{% if github_login %}
<p id="githubLogin" hidden>True</p>
{% else %}
<p id="githubLogin" hidden>False</p>
{% endif %}
<div id="messages" class="messages">
</div>
<p class ="lead"> {{ medialink }}</p>
<p class ="lead"> {{ error }}</p>
<div class="panel panel-default">
<div class="panel-heading"> <p class="lead">Submit a New License namepace to the SPDX License namespaces List</p> </div>
<div class="panel-body">
<form id="newlicense" enctype="multipart/form-data" class = "form-horizontal" method = "post" action='/submit_new_license/'>
		{% csrf_token %}

    <div class = "form-group">
      <div class="col-sm-12">
      <label class="control-label col-sm-3" >Submitter's Full Name
        <span tabindex="0" class="glyphicon glyphicon-question-sign" id="submitterFullnameInfo" data-toggle="popover" data-placement="auto left"></span>
      </label>
        <div class="col-sm-4">
          {{ form.fullname }}
        </div>
      </div>
    </div>

    <div class = "form-group">
      <div class="col-sm-12">
      <label class="control-label col-sm-3" >Organisation
        <span tabindex="0" class="glyphicon glyphicon-question-sign" id="organisation" data-toggle="popover" data-placement="auto left"></span>
      </label>
        <div class="col-sm-4">
          {{ form.organisation }}
        </div>
      </div>
    </div>

    <div class = "form-group">
      <div class="col-sm-12">
      <label class="control-label col-sm-3" >Namespace
        <span tabindex="0" class="glyphicon glyphicon-question-sign" id="namespaceInfo" data-toggle="popover" data-placement="auto left"></span>
      </label>
        <div class="col-sm-4">
          {{ form.namespace }}
        </div>
      </div>
    </div>

    <div class = "form-group">
      <div class="col-sm-12">
      <label class="control-label col-sm-3" >Namespace Short identifier
        <span tabindex="0" class="glyphicon glyphicon-question-sign" id="namespaceId" data-toggle="popover" data-placement="auto left"></span>
      </label>
        <div class="col-sm-4">
          {{ form.shortIdentifier }}
        </div>
      </div>
    </div>

    <div class = "form-group">
      <div class="col-sm-12">
      <label class="control-label col-sm-3" >Publicly shared</label>
        <div class="col-sm-4 checkbox">
          {{ form.publiclyShared }}
        </div>
      </div>
    </div>

    <div class = "form-group">
      <div class="col-sm-12">
      <label class="control-label col-sm-3" >SPDX File URL
        <span tabindex="0" class="glyphicon glyphicon-question-sign" id="urlInfo" data-toggle="popover" data-placement="auto left"></span>
      </label>
        <div class="col-sm-4">
          {{ form.url }}
          <!-- <span class="help-block" id="addUrlInfo" style="color:#3197c4; text-align: left; font-weight: bold; font-style: italic; cursor:pointer;" >+ Add another URL</span> -->
        </div>
      </div>
    </div>

    <div class = "form-group">
      <div class="col-sm-12">
      <label class="control-label col-sm-3" >License list URL
        <span tabindex="0" class="glyphicon glyphicon-question-sign" id="licenseListUrlInfo" data-toggle="popover" data-placement="auto left"></span>
      </label>
        <div class="col-sm-4">
          {{ form.license_list_url }}
          <!-- <span class="help-block" id="addUrlInfo" style="color:#3197c4; text-align: left; font-weight: bold; font-style: italic; cursor:pointer;" >+ Add another URL</span> -->
        </div>
      </div>
    </div>

    <div class = "form-group">
      <div class="col-sm-12">
      <label class="control-label col-sm-3" >Github repo URL
        <span tabindex="0" class="glyphicon glyphicon-question-sign" id="githubRepoUrlInfo" data-toggle="popover" data-placement="auto left"></span>
      </label>
        <div class="col-sm-4">
          {{ form.github_repo_url }}
          <!-- <span class="help-block" id="addUrlInfo" style="color:#3197c4; text-align: left; font-weight: bold; font-style: italic; cursor:pointer;" >+ Add another URL</span> -->
        </div>
      </div>
    </div>

    <div class = "form-group">
      <div class="col-sm-12">
      <label class="control-label col-sm-3" >Description
        <span tabindex="0" class="glyphicon glyphicon-question-sign" id="descriptionInfo" data-toggle="popover" data-placement="auto left"></span>
      </label>
        <div class="col-sm-6">
          {{ form.description }}
        </div>
      </div>
    </div>

    <div class = "form-group">
      <div class="col-sm-12">
      <label class="control-label col-sm-3" >Who is the license namespace author or license steward?</label>
        <div class="col-sm-4">
          {{ form.licenseAuthorName }}
        </div>
      </div>
    </div>

    <div class = "form-group">
      <div class="col-sm-12">
      <label class="control-label col-sm-3" >Submitter's Email address</label>
        <div class="col-sm-4">
          {{ form.userEmail }}
        </div>
      </div>
    </div>
    <hr>
		<input type="hidden" id="cfileformat" name="submit" value="">
		<button class=" btn btn-md btn-info" id="submitbutton" type="submit" >Submit</button>
</form>
</div>
</div>
{% include "app/modal.html" %}
{% endblock %}

{% block script_block %}
<script type="text/javascript">
function initNSPopOvers() {
    $('#submitterFullnameInfo').popover({trigger: "click focus", title: "Namespace submitter", content: "{{ form.fullname.help_text }}", html: "true", viewport: '.panel-body', container: '.panel-body'});
    $('#namespaceInfo').popover({trigger: "click focus", title: "Namespace", content: "{{ form.namespace.help_text }}", html: "true", viewport: '.panel-body', container: 'body'});
    $('#namespaceId').popover({trigger: "click focus", title: "Namespace ID", content: "{{ form.shortIdentifier.help_text }}", html: "true", viewport: '.panel-body', container: 'body'});
    $('#urlInfo').popover({trigger: "click focus", title: "Namespace URL", content: "{{ form.url.help_text }}", html: "true", viewport: '.panel-body', container: '.panel-body'});
    $('#licenseListUrlInfo').popover({trigger: "click focus", title: "License list URL", content: "{{ form.license_list_url.help_text }}", html: "true", viewport: '.panel-body', container: '.panel-body'});
    $('#githubRepoUrlInfo').popover({trigger: "click focus", title: "GITHUB Repo URL", content: "{{ form.github_repo_url.help_text }}", html: "true", viewport: '.panel-body', container: '.panel-body'});
    $('#organisation').popover({trigger: "click focus", title: "Namespace Organisation", content: "{{ form.organisation.help_text }}", html: "true", viewport: '.panel-body', container: '.panel-body'});
    $('#descriptionInfo').popover({trigger: "click focus", title: "License namespace description", content: "{{ form.description.help_text }}", viewport: '.panel-body', container: '.panel-body'});
}
  </script>
<script type="text/javascript">
$(document).ready(function () {
    initNSPopOvers();
    $("#licensenamespace").addClass('linkactive');
    $("#submitnewlicensenamespacepage").addClass('linkactive');
    $('input').addClass('form-control');
    $('select').addClass('form-control');
    $('textarea').addClass('form-control');
	var githubLogin = $("#githubLogin").text();
	/* if user not authenticated using GitHub, display modal with login button */
	if(githubLogin == "False"){
		$("#modal-header").removeClass("red-modal green-modal");
		$("#modal-header").addClass("yellow-modal");
		$(".modal-footer").html('<button class="btn btn-success" id="github_auth_begin"><span class="glyphicon glyphicon-ok"></span> Confirm</button>');
		$("#modal-body").html('To submit a license, you must log in using Github.  You will now be redirected to the github login.  Please allow the requested permissions.  If you do not have a github account, you can <a href="https://github.com/">sign up</a> for free or you can email your new license request to <a href="mailto:spdx-legal@spdx.org">spdx-legal@spdx.org</a>.');
        $("#myModal").modal({
           backdrop: 'static',
           keyboard: true,
           show: true
        });
	}
});
</script>
<script type="text/javascript">
	$(document).on('click','button#github_auth_begin',function(event){
    event.preventDefault();
    var githubLoginLink = $("#githubLoginLink").text();
    var page_url = window.location.href;
    githubLoginLink += "?next=" + page_url;
    window.location = githubLoginLink;
  });
</script>
<script type="text/javascript">
$(document).on('click', '#addUrlInfo', function(){
    var html = '<div class="col-sm-12 btn-group" style="padding:6px 0; margin-top:2"><input type="text" class="form-control" id="url" placeholder="" name="url"></div>';
  $('#addUrlInfo').before(html);
});
</script>

<script type="text/javascript">
function checkform() {
  var urlValue = $('#url').val().trim();
  $(".form-control").removeAttr('style');
  if (validate_fullname()) {
    scrollUpAndHighlight($('#fullname'))
    message = validate_fullname()
    return (message + "Hover over to '?' for more info.");
  }
  else if (($('#namespace').val().trim() == "") || !validate_identifier()){
    scrollUpAndHighlight($('#namespace'))
    return("Please enter a valid license namespace identifier. It consist of ASCII letters (A-Za-z), digits (0-9), full stops (.) and hyphen or minus signs (-) only. Hover over to '?' for more info");
  }
  else if (!validate_urls() && urlValue != ""){
    scrollUpAndHighlight($('#urlInfo'))
    return("Please enter a valid URL. Hover over to '?' for more info");
  }
  else {
    return "1";
  }
}

function validate_fullname(){
  message = "Please enter a valid fullname. "
  // Define empty_schema to check if fullname is an empty string
  empty_schema = /^(\s+)$/;
  // Define no_comma_schema to check if fullname contains comma or not
  no_comma_schema = /^((?!,).)*$/i;
  // Define no_version_schema to check if version is not spelled out in fullname
  no_version_schema = /^((?!version).)*$/i;
  // Define lower_v_schema to check that no period or space occur between v and version number
  lower_v_schema = /^((?!v\.|v\s).)*$/i;
  // Define the_schema to omit fullname staring with 'the'
  the_schema = /^(?!the.*$).*$/i;
  fullname = $('#fullname').val();

  if (empty_schema.test(fullname)){
    message += "Fullname cannot be a empty string. "
  }
  else if (!no_comma_schema.test(fullname)){
    message += "No commas in the fullname of license namespace or exception. "
  }
  else if (!no_version_schema.test(fullname)){
    message += "The word 'version' is not spelled out. Use 'v' instead of 'version'. "
  }
  else if (!lower_v_schema.test(fullname)){
    message += "For version, use lower case v and no period or space between v and the version number. "
  }
  else if (!the_schema.test(fullname)){
    message += "The fullname must omit certain words such as 'the ' for alphabetical sorting purposes. "
  }
  else {
    message = null;
  }
  return message;
}

function validate_identifier(){
  id_schema = /^[a-zA-Z0-9|.|-]+$/;
  result = id_schema.test($('#namespace').val())
  return result;
}

function validate_urls(){
  var valid_urls = true;
  url_schema = /(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
  $('input[id="url"]').each(function(){
    if(!url_schema.test($(this).val())){
      valid_urls = false;
    }
  })
  return valid_urls;
}

/* Function to scroll at the top of the page and highlight the error field in red. */
function scrollUpAndHighlight(element) {
  $('html, body').animate({scrollTop: 50}, 500);
  $(element).css({ 'border-color':'#f00','box-shadow': '1px 1px 8px #f04a4a' });
}

</script>
<script>
$(document).on('mousedown', function (e) {
    $('[data-toggle=popover]').each(function (index, elt) {
        // hide any open popovers when anywhere else in the body is clicked
        if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
            $(this).popover('hide');
        }
    });
});
</script>

<script type="text/javascript">
  $('#newlicense').on('submit', function(event){
    event.preventDefault();
    var check = checkform();
    if (check=="1"){
      $("#submitbutton").text("Submitting...");
      $("#submitbutton").prop('disabled', true);
      $("#messages").html("");
      var form = new FormData($("#newlicense")[0]);
      $.ajax({
              type: "POST",
              enctype: 'multipart/form-data',
              url: "/app/submit_new_license_namespace/",
              processData: false,
              contentType: false,
              cache: false,
              timeout: 600000,
              data: form,
              success: function (data) {
                var githubCode = data.statusCode;
                console.log("githubCode", githubCode);
                // if(githubCode == '201'){
                //   var successMessage = "The license request has been successfully submitted.";
                //   $("#messages").html('<div class="alert alert-success alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Success! </strong>'+ successMessage +'</div>');
                //       setTimeout(function() {
                //         $("#messages").html("");
                //       }, 7000);
                // }
                if(githubCode == '201'){
              		$("#modal-header").removeClass("red-modal yellow-modal");
              		$("#modal-header").addClass("green-modal");
                  $("#modal-title").html("Success");
              		$("#modal-body").html('The license request has been successfully submitted.');
                      $("#myModal").modal({
                         backdrop: 'static',
                         keyboard: true,
                         show: true
                      });
              	}
                else{
                  var warningMessage = "Please note that there was a problem opening the issue for the SPDX legal team. Please email spdx-legal@lists.spdx.org with SPDX ID for the license you are submitting";
                  $("#messages").html('<div class="alert alert-warning alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Warning! </strong>'+ warningMessage +'</div>');
                      setTimeout(function() {
                        $("#messages").html("");
                      }, 7000);
                }
                $("#fullname").val("");
                $("#namespace").val("");
                $("#url").val("");
                $("#licenseAuthorName").val(0);
                $("#description").val("");
                $("#userEmail").val("");
                var sources = $('[id="urlInfo"]');
                if(sources.length > 1){
                  for (var i = 1; i < sources.length; i++) {
                    sources[i].remove();
                  }
                }
                $("#submitbutton").text("Submit");
                $("#submitbutton").prop('disabled', false);
              },
              error: function (e) {
                  console.log("ERROR : ", e);
                  $("#modal-header").removeClass("green-modal");
                  try {
                    var obj = JSON.parse(e.responseText);
                    if (obj.type=="license_exists"){
                      $("#modal-header").removeClass("red-modal");
                      $("#modal-header").addClass("yellow-modal");
                      $("#modal-title").html(obj.title);
                    } else if (obj.type=="warning"){
                      $("#modal-header").removeClass("red-modal");
                      $("#modal-header").addClass("yellow-modal");
                      $("#modal-title").html("Warning!");
                    }
                  else if (obj.type=="error"){
                      $("#modal-header").removeClass("yellow-modal");
                      $("#modal-header").addClass("red-modal");
                      $("#modal-title").html("Error!");
                    }
                  $("#modal-body").text(obj.data);
                  }
                  catch (e){
                    $("#modal-header").removeClass("yellow-modal");
                    $("#modal-header").addClass("red-modal");
                    $("#modal-title").html("Error!");
                    $("#modal-body").text("The application could not be connected. Please try later.");
                  }
                  $("#myModal").modal({
                          backdrop: 'static',
                          keyboard: true,
                          show: true
                  });
                  $("#submitbutton").text("Submit");
                  $("#submitbutton").prop('disabled', false);
              }
          });
    }
    else{
      $("#messages").html('<div class="alert alert-danger alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Error! </strong>'+check+'</div>');
      setTimeout(function() {
        $("#messages").html("");
      }, 5000);
    }
});
</script>
<script type="text/javascript" src="{% static 'js/editor/codemirror.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor/difflib.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor/diffview.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor/treeview.js' %}"></script>
<script type="text/javascript" src="{% static 'js/html2canvas.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor/postscreenshot.js' %}"></script>
{% endblock %}
