{% extends 'app/base.html' %}
{% load static %}
{% load staticfiles %}
{% block body1 %}
<link href="../../static/css/submit_new_license.css" rel="stylesheet" type="text/css" />

<div id="messages" class="messages">
</div>
<p class ="lead"> {{ medialink }}</p>
<p class ="lead"> {{ error }}</p>
<div class="panel panel-default">
<div class="panel-heading"> <p class="lead">Submit a New License to the SPDX Licenses List</p> </div>
<div class="panel-body">
<form id="newlicense" enctype="multipart/form-data" class = "form-horizontal" method = "post" action='/submit_new_license/'>
		{% csrf_token %}

    <div class = "form-group">
      <div class="col-sm-12">
      <label class="control-label col-sm-3" >Full Name</label>
        <div class="col-sm-3"> 
          {{ form.fullname }}
          <label class="control-label" id="fullnamelabel" ></label>
        </div>
      </div>  
    </div>

    <div class = "form-group">
      <div class="col-sm-12">
      <label class="control-label col-sm-3" >Short Identifier</label>
        <div class="col-sm-3"> 
          {{ form.shortIdentifier }}
          <label class="control-label" id="shortidentifierlabel" ></label>
        </div>
      </div>  
    </div>

    <div class = "form-group">
      <div class="col-sm-12">
      <label class="control-label col-sm-3" >Source / URL</label>
        <div class="col-sm-3" >
          <button class="roundedButton btn btn-md btn-info" id="addSourceUrl"  type="button">+</button>
          {{ form.sourceUrl }}
          <label class="control-label" id="sourceurllabel" ></label>
        </div>
      </div>  
    </div>

    <div class = "form-group">
      <div class="col-sm-12">  
      <label class="control-label col-sm-3" >&nbsp;OSI Approved&nbsp;</label>
        <div class="col-sm-3">
          {{ form.osiApproved }}
        </div>
      </div>
    </div>

    <div class = "form-group">
      <div class="col-sm-12">
      <label class="control-label col-sm-3" >Notes</label>
        <div class="col-sm-3">
          {{ form.notes }}
          <!-- <input type="text" id="notes" placeholder="" name = "notes" class="alignedField"> -->
          <label class="control-label" id="noteslabel" ></label>
        </div>
      </div>  
    </div>

    <div class = "form-group">
      <div class="col-sm-12">
      <label class="control-label col-sm-3" >Standard License Header</label>
        <div class="col-sm-3">
          {{ form.licenseHeader }}        
          <label class="control-label" id="licenseheaderlabel" ></label>
        </div>
      </div>  
    </div>

    <div class = "form-group">
      <div class="col-sm-12">
      <label class="control-label col-sm-3" >Text</label>
        <div class="col-sm-3">
          {{ form.text }}          
          <label class="control-label" id="noteslabel" ></label>
        </div>
      </div>  
    </div>

    <div class = "form-group">
      <div class="col-sm-12">
      <label class="control-label col-sm-3" >Email address</label>
        <div class="col-sm-3">
          {{ form.userEmail }}          
          <label class="control-label" id="emaillabel" ></label>
        </div>
      </div>  
    </div>

    <hr>
		<input type="hidden" id="cfileformat" name="submit" value="">
		<button class=" btn btn-md btn-info" id="submitbutton" type="submit" >Submit</button>
</form>
</div>
</div>
{% include "app/modal.html" %}
{% endblock %}

{% block script_block %}
<script type="text/javascript">
$(document).ready(function () {
    $("#submitnewlicensepage").addClass('linkactive');
    });
</script>
<script type="text/javascript">
$(document).on('click', '.roundedButton', function(){
    var html = '<div><input type="text" id="sourceurl" placeholder="" name = "sourceurl"></div>';
  $(this).parent().append(html);
});
</script>


<script type="text/javascript">
function checkform() {
  if ($('#fullname').val().trim() === "") {
    $('#fullname').focus();
    return ("Please enter the license fullname.");
  }
  else if (($('#shortIdentifier').val().trim() == "")){
    $('#shortidentifier').focus();
    return("Please enter the identifier.");
  }
  else if (($('#osiApproved').val() == "0")){
    $('#osi_approved').focus();
    return("Please select if the OSI is approved or not.");
  }
  else if (($('#text').val().trim() == "")){
    $('#cfilename').focus();
    return("Please enter the license text.");
  }
  else {
    return "1";
  }
}
</script>


<script type="text/javascript">
  $('#newlicense').on('submit', function(event){
    event.preventDefault();
    var check = checkform();
    if (check=="1"){
      $("#submitbutton").text("Submitting...");
      $("#submitbutton").prop('disabled', true);
      $("#messages").html("");
      var form = new FormData($("#newlicense")[0]);
      $.ajax({
              type: "POST",
              enctype: 'multipart/form-data',
              url: "/app/submit_new_license/",
              processData: false,
              contentType: false,
              cache: false,
              timeout: 600000,
              data: form,
              success: function (data) {
                  console.log("SUCCESS : ", data);
                  $("#shortIdentifier").text("Submit");
                  $("#submitbutton").text("Submit");
                  $("#submitbutton").text("Submit");
                  $("#submitbutton").text("Submit");
                  $("#submitbutton").text("Submit");



                  $("#submitbutton").text("Submit");
                  $("#submitbutton").prop('disabled', false);
              },
              error: function (e) {
                  console.log("ERROR : ", e);
                  $("#modal-header").removeClass("green-modal");
                  try {
                    var obj = JSON.parse(e.responseText);
                    if (obj.type=="warning"){
                      $("#modal-header").removeClass("red-modal");
                      $("#modal-header").addClass("yellow-modal");
                      $("#modal-title").html("Warning!");
                    }
                  else if (obj.type=="error"){
                      $("#modal-header").removeClass("yellow-modal");
                      $("#modal-header").addClass("red-modal");
                      $("#modal-title").html("Error!");
                    }
                  $("#modal-body").text(obj.data);
                  }
                  catch (e){
                    $("#modal-header").removeClass("yellow-modal");
                    $("#modal-header").addClass("red-modal");
                    $("#modal-title").html("Error!");
                    $("#modal-body").text("The application could not be connected. Please try later.");
                  }
                  $("#myModal").modal({
                          backdrop: 'static',
                          keyboard: true, 
                          show: true
                  });
                  $("#submitbutton").text("Submit");
                  $("#submitbutton").prop('disabled', false);
              }
          });
    }
    else{
      $("#messages").html('<div class="alert alert-danger alert-dismissable fade in"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Error! </strong>'+check+'</div>');
      setTimeout(function() {
        $("#messages").html("");
      }, 5000);
    }
});
</script>
{% endblock %}