{% extends 'app/base.html' %}
{% load static %}
{% load staticfiles %}
{% block body1 %}
<!--
<style type="text/css">
  .demo-droppable {
    background: #08c;
    color: #fff;
    padding: 100px 0;
    text-align: center;
  }
  .demo-droppable.dragover {
    background: #00CC71;
  }
</style>
<style type="text/css">
  #drop_zone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  font: 20pt bold 'Vollkorn';
  color: #bbb;
}
</style>
-->
<p class ="lead"> {{ error }}</p>
<div class="panel panel-default">
<div class="panel-heading"> <p class="lead"> Tag-Value, RDF and XML SPDX Document</p> </div>
<div class="panel-body">
<form id="myform" enctype="multipart/form-data" class = "form-horizontal" method = "post"  >
		{% csrf_token %}
			<div class = "form-group">
			<div class="col-sm-12">
			<label class="control-label col-sm-3" >SPDX Document</label>
				<div class="col-sm-6"> 
				  <input type="file" id="file" placeholder="" name = "file"  style="width: 100%;">
				</div>
			</div>	
		</div>
		<!--
    <div class = "form-group">
      <div class="col-sm-12">
        <div id="drop_zone">or drop files here</div>
      </div>
    </div>
    -->
		<input class=" btn btn-md btn-info" type="submit" value="Validate">
</form>
<!--
<output id="list"></output>
-->
</div>
{% endblock %}
{% block script_block %}
<!--
<script>
  function handleFileSelect2(evt) {
    evt.stopPropagation();
    evt.preventDefault();

    var files = evt.dataTransfer.files; // FileList object.
    console.log(evt.dataTransfer)
    console.log(document.getElementById('file'))
    document.getElementById('file').files = evt.dataTransfer.files;
    console.log(document.getElementById('file').files)
    // files is a FileList of File objects. List some properties.
    var output = [];
    for (var i = 0, f; f = files[i]; i++) {
      output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                  f.size, ' bytes, last modified: ',
                  f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
                  '</li>');
    }
    document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';    //append
  }

  function handleDragOver(evt) {
    evt.stopPropagation();
    evt.preventDefault();
    evt.dataTransfer.dropEffect = 'copy'; // Explicitly show this is a copy.
  }

  // Setup the dnd listeners.
  var dropZone = document.getElementById('drop_zone');
  dropZone.addEventListener('dragover', handleDragOver, false);
  dropZone.addEventListener('drop', handleFileSelect2, false);
</script>
<script>
  function handleFileSelect(evt) {
    var files = evt.target.files; // FileList object
    // files is a FileList of File objects. List some properties.
    var output = [];
    for (var i = 0, f; f = files[i]; i++) {
      output.push('<li><strong>', escape(f.name), '</strong> (', f.type || 'n/a', ') - ',
                  f.size, ' bytes, last modified: ',
                  f.lastModifiedDate ? f.lastModifiedDate.toLocaleDateString() : 'n/a',
                  '</li>');
    }
    document.getElementById('list').innerHTML = '<ul>' + output.join('') + '</ul>';     //append
  }

  document.getElementById('file').addEventListener('change', handleFileSelect, false);
</script>
<script>
if (window.File && window.FileReader && window.FileList && window.Blob) {
  // Great success! All the File APIs are supported.
} else {
  alert('The File APIs are not fully supported in this browser.');
}
</script>
-->
{% endblock %}